@import "/src/index.css";

.back {
  flex-grow: 1;
  height: 100%;
  font-family: var(--font-family-play);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
}

.messageFlow {
  height: 1px;
  flex-grow: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding: 10px 10%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.brighter {
  background-color: var(--third-background-color);
}

.sender {
  font-weight: bold;
}

.content {
  margin-top: 4px;
}

.timestamp {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 9;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.messageInput {
  padding: 8px;
  font-size: 16px;
  border: none;
  border: 1px solid gray;
  color: white;
  outline: none;
  border-radius: 4px;
  resize: none;
  margin-bottom: 10px;
  background-color: transparent;
}

.sendButton,
.settingsButton,
.clearChatButton,
.newChatButton {
  width: fit-content;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: 0.15s;
}

.sendButton,
.newChatButton {
  background-color: #235e25;
  color: rgb(206, 206, 206);
}

.clearChatButton {
  color: rgb(206, 206, 206);
  background-color: rgb(126, 21, 21);

  margin-right: var(--s-xxs);
}

.settingsButton {
  background-color: transparent;
  color: rgb(206, 206, 206);
  margin-right: var(--s-xxs);
}

.buttons > div > button > svg {
  transform: translateY(2px);
}

.buttons div button span {
  margin-right: var(--s-xxs);
}

.sendButton:hover,
.settingsButton:hover,
.newChatButton:hover {
  color: white;
  border-color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
