@import "../../../index.css";

.main {
  padding: var(--s-xxs) 0;
  text-decoration: none;
  color: unset;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
  transition: 0.1s;
  background-color: var(--secondary-background-color);
  box-shadow: 5px 4px 0 rgba(149, 255, 221, 1), 10px 8px 0 rgb(102, 192, 163),
    15px 12px 0 rgb(52, 116, 96), 20px 16px 0 rgb(27, 79, 62);
}

.main:hover {
  background-color: rgb(33, 33, 33);
}

.header,
.content {
  max-width: 200px;
  margin: 0 var(--s-xs);
  padding: var(--s-xxs) 0;
}

.header {
  color: white;
  font-size: var(--s-xs);
  border-bottom: 1px solid white;
}

.content {
  color: gray;
}
