@import url("../../../index.css");

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-left: 3px solid var(--primary-background-color);
  background-color: var(--secondary-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.2s;
  padding: var(--s-xs);
  font-size: var(--s-xs);
}

.main:hover {
  border-color: var(--green-text-color);
  background-color: rgb(33, 33, 33);
}

.name {
  font-size: var(--s-s);
}

.tags {
  display: flex;
  flex-direction: row;
  margin: var(--s-xxs) 0;
}

.tag {
  margin-right: var(--s-xxs);
}

.description {
  text-align: justify;
  color: gray;
}
