@import "/src/index.css";

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.mainContent {
  width: 100%;
  height: 1px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
