@import "/src/index.css";

.back {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: var(--s-xs);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: var(--font-family-play);
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border-top: 3px solid var(--green-text-color);
}

.title {
  color: var(--green-text-color);
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
}

.subTitle {
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
}

.modelContainer,
.apiKeyContainer,
.chatHistoryContainer {
  display: flex;
  flex-direction: column;
}

.modelContainer {
  margin-bottom: 15px;
}

.apiKeyContainer {
  margin-bottom: 15px;
}

.chatHistoryContainer {
  margin-bottom: 15px;
}

input,
select {
  outline: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  border: solid var(--secondary-text-color) 1px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  color: var(--green-text-color);
}

option {
  color: black;
}

.saveButton {
  background-color: #235e25;
  color: rgb(206, 206, 206);
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.15s;
}

.saveButton:hover {
  color: white;
}
