@import "../../index.css";

.main {
  width: 100%;
  height: 100%;
  padding: var(--s-m) var(--s-xl);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.title {
  color: var(--green-text-color);
  font-size: var(--s-m);
}

p {
  font-size: var(--s-xs);
  color: gray;
}

.linkButtonContainer {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  min-height: 0px;
  flex-grow: 1;
}
