:root {
  --font-family-play: "Play", sans-serif;
  --primary-background-color: #121212;
  --secondary-background-color: #1e1e1e;
  --third-background-color: #1d1c1c;
  --primary-text-color: white;
  --green-text-color: rgb(149, 255, 221);
  --secondary-text-color: rgb(189, 189, 189);
}

body {
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-background-color);
}
