:root {
  --font-family-play: "Play", sans-serif;
  --primary-background-color: #121212;
  --secondary-background-color: #1e1e1e;
  --third-background-color: #1d1c1c;
  --primary-text-color: white;
  --green-text-color: rgb(149, 255, 221);
  --secondary-text-color: rgb(189, 189, 189);
  --shadow-color-1: rgba(149, 255, 221, 1);
  --shadow-color-2: rgb(102, 192, 163);
  --shadow-color-3: rgb(52, 116, 96);
  --shadow-color-4: rgb(27, 79, 62);

  --s-xxl: 70px;
  --s-xl: 60px;
  --s-l: 50px;
  --s-m: 40px;
  --s-s: 30px;
  --s-xs: 20px;
  --s-xxs: 10px;
}

body {
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--primary-background-color);
  color: white;
  font-family: var(--font-family-play);
}

.pageBody {
  width: 100%;
  min-height: 0px;
  flex: 1;
}

@media screen and (max-width: 1200px) {
  :root {
    --s-xxl: 65px;
    --s-xl: 55px;
    --s-l: 45px;
    --s-m: 35px;
    --s-s: 25px;
    --s-xs: 15px;
    --s-xxs: 5px;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --s-xxl: 60px;
    --s-xl: 50px;
    --s-l: 40px;
    --s-m: 30px;
    --s-s: 20px;
    --s-xs: 15px;
    --s-xxs: 5px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --s-xxl: 40px;
    --s-xl: 30px;
    --s-l: 25px;
    --s-m: 20px;
    --s-s: 15px;
    --s-xs: 10px;
    --s-xxs: 5px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --s-xxl: 30px;
    --s-xl: 25px;
    --s-l: 20px;
    --s-m: 15px;
    --s-s: 10px;
    --s-xs: 5px;
    --s-xxs: 2px;
  }
}
