@import "../../../index.css";

.modal {
  display: block;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalHeader {
  margin-bottom: var(--s-xs);
}

.modalHeader span:first-of-type {
  font-size: var(--s-xs);
  color: var(--green-text-color);
}

.modalContent {
  background-color: var(--secondary-background-color);
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
}

.chatList {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}
