@import "/src/index.css";

.outer {
  padding: 35px;
  padding-right: 0;
  padding-bottom: 0;
}

.back {
  width: 250px;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-family: var(--font-family-play);
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  position: relative;
  z-index: 10;
}
